.backdrop {
    display: inline-block;
    background: rgba(42, 42, 42, 0.7);
    border-radius: 5px;
    border: 1px solid #444;
    padding: 5px 10px;
    color: #fff;
    line-height: 150%;
    font-size: small;
}

#heightSliderLabel, #heightValue {
    vertical-align: top;
}

.backdrop a:link, .backdrop a:visited, .backdrop a:hover {
    color: #fff
}

.loadingIndicator {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -33px;
    margin-left: -33px;
    width: 66px;
    height: 66px;
    background: url(Source/Images/ajax-loader.gif) center no-repeat;
}

.cover {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#menu {
    position: absolute;
    left: 10px;
    top: 10px;
}

.nowrap {
    white-space: nowrap;
}

html, body, #cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    background: #000;
}
button.cesium-infoBox-camera {display: none;}

#3DTiles {padding-top: 10px;}


.cesium-infoBox{ right: 30% }



.fr{float: right;}
.icon2-menu {    margin-top: 13px;cursor: pointer; width: 9px; height: 10px; display: inline-block; background: url(../Source/Images/map-icon.png); }
.menu-wrap { left: 20px; border-radius: 5px; background-color: #fff;box-shadow: 4px 2px 15px 1px #c4e3ee;position: fixed;top:58px;width: 240px;overflow: auto;transition: .25s;z-index: 10;}
.menu-show .bd{display: none}
.menu-show{width: 100px;}
.menu-wrap .hd{ height: 40px; background: #60acfb; line-height: 40px; padding: 0 16px; }
.menu-wrap h2{ margin: 0; padding: 0; color: #fff; font-size: 16px; }
.menu-wrap .bd  p{color: #666;font-size: 20px;line-height: 50px;}
.menu-show .hd{ padding: 0 5px }
.menu-show .icon2-menu,.nav-show .icon2-menu{ background-position: -14px 0 }
ul{ margin: 0; padding: 0 ; list-style: none; }
.button-open {}
.button-open .menu-bar-top {border-color: #fff;transform: rotate(45deg) translate(8px, 8px);transition: .5s;}
.info-list li{height: 41px; line-height: 41px; padding: 0 15px; }
.info-list li label { color: #666666; font-size: 14px; font-weight: normal; }
.info-list li:nth-child(even){ background: #f7f9fa }
.info-list li input{    vertical-align: -2px;    margin-right: 8px;}



.right-button{  }
.data-table .icon2-menu{ margin-right: 10px; }
.data-table{border-radius: 5px; background-color: #fff; position: fixed;top: 58px;right: 10px;width: 290px;font-size: 1em;font-weight: 700;transition: .25s;z-index: 10; box-shadow: 2px 2px 6px rgba(0,0,0,.3);}
.data-table {overflow: hidden;}
.data-table h2{ font-size: 16px; text-align: center; color: #333}
.table-list{width: 100%}
.table-list {font-size: 12px; font-weight: normal;color: #333}
.table-list tr { height: 36px; line-height: 36px }
.table-list tr td{ text-align: center; }
.table-list tr:nth-child(even){background: #f7f9fa}

.data-table .tab-hd{background: #43acfb;overflow: hidden;    color: #FAFAFA;height: 40px; }
.menu-list{overflow: hidden; height: 40px;line-height: 40px; padding: 0; width: 93%;}
.menu-list li{font-size: 16px;color: #c9e0fd; cursor: pointer;float: left; padding: 0 5px;  font-weight: normal; position: relative;}
.menu-list li.current {color: #fff; background: #3784c8; font-weight: bold;}
.menu-list .current .icon-current{position: absolute;    left: 50%; margin-left: -5px;
    bottom: 0; width: 9px; height: 7px;background: url(../Source/Images/map-icon.png) -26px 0 no-repeat; }
.nav-show .current .icon-current{ display: none; }
/*.nav-show .tab-bd{display: none;}*/
.data-table .search-btn{ vertical-align: -2px; display: inline-block; width: 16px; height: 16px; margin-left: 4px; background: url(../Source/Images/map-icon.png) -39px 0 no-repeat;   }
.data-table .keywords { padding-left: 6px; width: 232px; height: 30px; line-height: 30px; border: 1px solid #d5d8dc }
.data-table .hd{ padding: 10px; border-bottom: 1px solid #d0d5d8   }
.table-list tr td{color: #666}
.riverinfo-box .bd{ overflow-y: scroll; }
.table-list tr td:nth-child(1){ padding-left:6px; }
